:root{
    --main:hsla(0, 0%, 98%, 1);
    --green_hover:#20c997;
    --mint_gray:#4c4d4d;
    --download-cv-bttn:#6c757d;
}
body{
    background-color: var(--main);
    padding:0px;
    margin:0px;
    font-family: Poppins,"sans-serif";
}
/*Start Navbar*/
.navbar{
    position: absolute;
    background-color: transparent !important;
}
.navbar .navbar-nav .nav-link{
    color:var(--main);
}
.navbar .navbar-brand img{
    width:70px;
}
.navbar .navbar-nav{
    padding: 0 280px;
    font-size:0.9rem;
    font-weight: lighter;
}
.navbar .navbar-nav .nav-link.active, 
.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link:focus {
    color:var(--green_hover);
}
.nav-link i {
    padding: 0 5px;
  }
/*End Navbar*/
/*start of home section*/
/*Start landing*/
  .hire-me-btn{
    border-color: var(--green_hover);
    color: var(--green_hover);
    border-width: 2px;
    transition: all .5s ease;
    padding:.375rem 1.75rem;
  }
.hire-me-btn:hover{
    background-color: var(--green_hover);
    border-color: var(--green_hover);
  }

.landing{
    background-image: url("../img/image14.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color:var(--main);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    position: relative;
    font-weight: 500;
}
.landing p{
    font-size: 1.5rem;
    color: hsla(0, 0%, 98%, 0.8);
}
.landing .welcome{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main);
}
.landing h1{
    font-weight: bolder;
}

/*End Landing*/

/*Atart Arrow*/
.arrow {
    position: absolute;
    bottom: 0%;
    left: 50%;
    height: 30px;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    z-index: 2;
    color:var(--main);
    font-size: 1.2rem;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-20px) translateX(-50%);
    }
}
/*End Arrow*/
 /*Start of h1 animations*/ 
.content {
    text-align: center;
    color: white;
    z-index: 1;
}
.typing {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid rgb(250, 244, 233);
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 2.5s steps(30, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(246, 242, 242); }
    
}
/*End of h1 animations*/

/* Custom font sizes for h1 */
.h1-responsive {
    font-size: 5rem; /* Default for medium devices and up */
}
@media (max-width: 1199.98px) { /* Large devices */
    .h1-responsive {
        font-size: 4.25rem;
    }
}
@media (max-width: 991.98px) { /* Medium devices */
    .h1-responsive {
        font-size: 3.5rem;
    }
}
@media (max-width: 767.98px) { /* Small devices */
    .h1-responsive {
        font-size: 2.5rem;
    }
    .typing {
        white-space: normal; /* Allow text to wrap */
    }
}
@media (max-width: 575.98px) { /* Extra small devices */
    .h1-responsive {
        font-size: 2rem;
    }
}
/*End of h1 responsive*/
/*End of home section*/

/*About Section*/
.about{
    padding:3.5rem 0;
}
.about-me{
    opacity: 5%;
    font-size: 600%;
}
.know-me{
    font-size: 2rem;
}
.underline{
    width: 80px;
    height: 2px;
    background-color: var(--green_hover);
    margin: -80px auto 40px auto ;
}
.name_simone{
    color: var(--green_hover);
}
.span_simone{
    padding-right:5px;
}
.span_hover{
    color: var(--green_hover);
    cursor: pointer;
}
.container ul li{
    list-style-type:none;
}
.dark-color{
    color:var(--mint_gray);
}
.featured-box h4{
    color:var(--mint_gray);
    font-size:40px;
    font-weight: bold;
    margin-bottom: 10px;
}

/*End About Section*/
/*Start Services Section*/

.services{
    background-color: rgba(238, 235, 235, 0.7);
    padding: 3.5rem 0;
}
p{
    line-height: 1.8;
    color: var(--mint_gray);
}
.service-title{
    font-weight: bold;
    font-size: 18px;
}
.featured-service{
    padding-left: 90px;
    position: relative;
}
.service-icon{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 70px;
    width: 70px;
    font-size: 30px;
    justify-content: center !important;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    top: 0;
}
/*End Services Section*/
/*Start Resume Section*/
.skills_me{
    padding: 15px 0;
}

.progress-bar{
    background-color: var(--green_hover);
}
.download-cv-btn{
    border-color: var(--download-cv-btt);
    color: var(--download-cv-btt);
    border-width: 2px;
    transition: all .5s ease;
    padding:.375rem 1.75rem;
}
.download-cv-btn:hover{
    border-color: var(--download-cv-bttn);
    background-color: var(--download-cv-bttn);
}
/*End Resume Section*/

/*Start My Work Section*/
.gallery-nav{
    color: var(--mint_gray);
}
.gallery-nav:hover{
    color: var(--green_hover);
}
.gallery-nav-active{
    color:var(--green_hover);
}

.gallery-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-card:hover .overlay {
    opacity: 1;
}
/*End My Work Section*/